# Installation

To run this project, you will need to install the following packages
  
    !pip install matplotlib
    !pip install keras
    !pip install tenserflow 
    !pip install seaborn
    !pip install scikit-learn
